footer.footer
	.footer__wrapper
		.footer__wrap
			h4 Услуги
			ul
				li
					a(href="#") Продвижение
				li
					a(href='#') Сайт-визитка
				li
					a(href='#') Продающий сайт
				li
					a(href='#') Поддержка сайтов
				li
					a(href='#') Стоимость работ
		.footer__wrap
			h4 Кейсы
			ul
				li
					a(href="#") Наши работы
				li
					a(href='#') Отзывы
				li
					a(href='#') Клиенты
				li
					a(href='#') Проекты
		.footer__wrap
			h4 ИнфоБлог
			ul
				li
					a(href='#') Статьи
				li
					a(href="#") Для кого
				li
					a(href='#') Разработка
				li
					a(href='#') Что получаете?
				li
					a(href='#') Мы можем
		.footer__wrap
			h4 О компании
			ul
				li
					a(href='#') Контакты
				li
					a(href='#') Команда
				li
					a(href='#') Партнёры
				li
					a(href='#') Предложения
		.footer__wrap
			h4 Мы в соц. сетях
			.footer__social
				a(href='#')
				a(href='#')
		.footer__wrap
			h4 Москва:
			.footer__item
				a(href='tel:8 (495) 295-99-55 ').footer__phone 8 (495) 295-99-55
			h4 Севастополь
			.footer__item
				a(href='tel:8 (987) 295-99-55 ').footer__phone 8 (987) 295-99-55
			.footer__item
				a(href='#') Политика <br/>конденциальности
			.footer__item
				a(href='#') Юридическая <br/>информация

//Скролинг темный
.scroll.scroll_dark
	.scroll__wrapper.scroll__wrapper_dark
		include ../mixins/index/scroll.html

