mixin logo-topline()
	a(href="#").logo.logo-topline
		img(src="img/logo.png" alt="logo")
		.logo__text
			.logo__top ВебМатематика
			.logo__bottom простые web решения<br/>сложных задач
mixin logo-toplinedark()
	a(href="#").logo.logo-topline
		img(src="img/logo-dark.svg" alt="logo")
		.logo__text
			.logo__top.logo__top_dark ВебМатематика
			.logo__bottom простые web решения<br/>сложных задач