=menu-color($color, $drop-bg, $drop-color)
	border: 2px solid $color
	ul 
		li.active 
			a
				color: $color
			a:hover
				color: #393939
		li
			a
				color: #393939
			a:hover
				color: darken($color, 10%)
	.nav-dropdown
		background-color: $drop-bg
		span
			background-color: $drop-color
.nav
	&-grey
		+menu-color(#393939,#fff,#393939)
	&-green
		+menu-color(#72a846, #72a846, #fff)

		


