mixin case
	section.section.case
		h2.h2.h2-white Наши Кейсы
		.case__wrapper
			.case__nav.case__nav_left
			.case__nav.case__nav_right
			.case__wrap
				.case__slider.owl-carousel.owl-theme
					.item
						.case__item
							img(src="http://loremflickr.com/570/320" alt="123")
							.case__footer
								h4.case__title Сайт для стоматолога
								a(href="#").case__button подробнее
						.case__item
							img(src="http://loremflickr.com/570/320" alt="123")
							.case__footer
								h4.case__title Сайт для стоматолога
								a(href="#").case__button подробнее
					.item
						.case__item
							img(src="http://loremflickr.com/570/320" alt="123")
							.case__footer
								h4.case__title Сайт для стоматолога
								a(href="#").case__button подробнее
						.case__item
							img(src="http://loremflickr.com/570/320" alt="123")
							.case__footer
								h4.case__title Сайт для стоматолога
								a(href="#").case__button подробнее
		.rev__all.case__all
			a(href="#") все работы