mixin headindex(color)
	header.head.head-index.bg-cover
		canvas.canvas(id="c")
		.header__wrapper
			.head__topline
				.container-flex
					+logo-topline
					+righthead
			+navmain(color)
			+fixednav(color)
			+mobile-menu
			.head__content
				h1.head__content_title Создаём, раскручиваем и поддерживаем <br/>сайты<br/>для любой сферы и любого бюджета.
				p.head__content_blue Первые <strong>клиенты</strong> уже завтра
				p.head__content_footer Работаем по всей России и СНГ
				button.button.button-brs35.button-blue.modal-open.head__content_button(data-theme='Вопрос' data-modal='.modal_ask') Узнать бесплатно