mixin revs
	section.section.rev
		h2.h2.h2-dark Последние отзывы
		.rev__wrapper
			+rev
			+rev
			+rev
		.rev__all
			a(href='#') все отзывы

mixin rev
	.rev__item
		.rev__text
			p   “Я вообще не люблю писать отзывы, так как считаю что все должны хорошо выполнять свою работу. Но тут не могла удержаться , меня аж тянуло рассказать всем как я довольна работой этой команды!
			p Надо сразу сказать что я, отвратительный заказчик, совершенно не понимала, что хочу. Сделайте что - нибудь , "ой фу, ну я же не этого хотела",  -  это именно обо мне. Думаю многие согласятся, что когда мы платим деньги, мы хотим получить что-то такое, что левая пятка захотела.”
		.rev__footer
			.rev__left
				.rev__img
					img(src="http://loremflickr.com/100/100" alt="123")
			.rev__right
				.rev__top
					h4 Доктор Диана
					p стоматолог-терапевт
				.rev__bottom
					.rev__file
						a(class="rev__magnific" href="http://loremflickr.com/800/800")
					.rev__button
						a(href="#").button.button-rev Весь отзыв