mixin righthead()
	.head__right
		.head__button
			a(href="#").modal-open.button.button-red.button-brs22.button-head Спросить бесплатно
		.head__phone
			a(href="tel:000000000").phone-top 8 (495) 295-99-55
			.phone-callback мы вам перезвоним