mixin sites
	section.sites.section
		h2.h2.h2-dark Какие сайты делаем
		.sites__wrapper
			+sait('Сайт-визитка', 'Сайт компании или специалиста решающий большинство задач связанных с интернетом.', 'От 22 700 руб.')
			+sait('Сайт-каталог', 'Корпоративный сайт с возможностью демонстрации продукции и её характеристик.', 'От 29 700 руб.')
			+sait('Landing page', 'Продающая страница,идеально подходит для продажи одного товара,группы товаров или услуги.', 'От 24 700 руб.')
			+sait('Интернет-магазин', 'Полноценная площадка интернет торговли с возможностью онлайн оплаты и историей заказов.', 'От 39 700 руб.')
			+sait('Нет в списке? Не беда!', 'За годы работы,приобретённыйопыт,позволяет нам решить любую задачу клиента.', 'И есть ещё решения!')
			+sait('Эксклюзивное решение', 'Сайт,разработанный под точные нужды клиента,без использования шаблонных или модульных решений.', 'От 100 000 руб.')
mixin sait(name ,text, price)
	.sites__item
		h3.sites__title=name
		.sites__text
			p=text
		.sites__price=price
		a(href="#").sites__button Подробнее