mixin page-work(color, size)
	a(href="#" class="work work_"+color+" work_"+size)
		.work__img
			img(src="http://loremflickr.com/370/260")
		.work__text
			h4 Стоматолог Доктор Диана
			p Задача организации, в особенности же новая модель организационной деятельности позволяет выполнять важные задания