.content__wrap
	display: flex
	justify-content: space-between
	flex-wrap: nowrap
	max-width: 1170px
	width: 100%
	margin: 0 auto

.content__left
	max-width: 270px
	width: 100%
.content__right
	z-index: 5
	width: 100%
	position: relative
	padding-left: 30px

.content
	&__title
		padding-bottom: 30px
		text-align: center
		+ffg
		+fz(30)
		letter-spacing: 0.9px
		&_white
			color: #fff

@media screen and (max-width: 1170px)
	.content__left
		display: none