mixin aside(color)
	aside.aside(class="aside_"+color)
		nav.aside__nav
			ul
				li
					a(href="#") Наши работы
				li
					a(href="#") Отзывы
				li.active
					a(href="#") Клиенты
				li
					a(href="#") Проекты
		.aside__footer
			p Скачайте всё<br/>наше портфолио <br/>одним <a href="#"> файлом PDF</a>
