mixin fixednav(color)
	nav.nav-fixed.nav
		ul
			li.nav-logo
				a(href="#")
					img(src="img/logo-mnu.png" alt="logo")
					span.mobile-logo-text ВебМатематика
			ul
				li.hide.active
					a(href="#" data-color="black") Главная
				li
					a(href="#" data-color="blue") Услуги
				li
					a(href="#" data-color="green") Кейсы
				li
					a(href="#" data-color="yellow") ИнфоБлог
				li
					a(href="#" data-color="red") О компании
			li.nav-phone
				a(href="tel:+79780000000") 8 (495) 295-99-55
			li.nav-dropdown
				span
				span
				span

