mixin fixednav()
	nav.nav-fixed.nav-white.active-green
		ul
			li.nav-logo
				a(href="#")
					img(src="img/logo-mnu.png" alt="logo")
					span.mobile-logo-text ВебМатематика
			ul
				li.active
					a(href="#") Услуги
				li
					a(href="#") Кейсы
				li
					a(href="#") ИнфоБлог
				li
					a(href="#") О компании
			li.nav-phone
				a(href="tel:+79780000000") 8 (495) 295-99-55
			li.nav-dropdown.nav-dropdown_green
				span
				span
				span

