mixin navmain(color)
	.container
		nav.nav.nav-main(class="nav-"+color)
			ul
				li.active
					a(href="#") Главная
				li
					a(href="#") Услуги
				li
					a(href="#") Кейсы
				li
					a(href="#") ИнфоБлог
				li
					a(href="#") О компании
