mixin navmain(color)
	.container
		nav.nav.nav-main
			ul
				li
					a(href="#" data-color="black") Главная
				li.active
					a(href="#" data-color="blue") Услуги
				li
					a(href="#" data-color="green") Кейсы
				li
					a(href="#" data-color="yellow") ИнфоБлог
				li
					a(href="#" data-color="red") О компании
