mixin navmain()
	.container
		nav.nav.nav-main.nav-white.active-green
			ul
				li.active
					a(href="#") Главная
				li
					a(href="#") Услуги
				li
					a(href="#") Кейсы
				li
					a(href="#") ИнфоБлог
				li
					a(href="#") О компании
