extends jade/template
block includes
   include jade/mixins/**/*.jade
block title
   title 123
   - var back = '#fff';
   - var navColor = 'grey';
block content
   header.head.head-index.bg-cover.bg-rev(style="background-image: url(http://loremflickr.com/1920/800)")
      .head__topline
         .container-flex
            +logo-topline
            +righthead
      +navmain(color)
      +fixednav(color)
      +mobile-menu
   article.container.container-rev
      h1 Доктор Диана - сайт для стоматолога-терапевта
      p Яркий, живой, интересный, настоящий - такой получился сайт. И именно такой специалист стоит за этим сайтом. И этот специалист - Доктор Диана. Стоматолог Лавринец Диана Сергеевна.
      p Открытая, эмоциональная, красивая и женственная девушка и просто замечательный профессионал своего дела. При работе над проектом столкнулись с некоторыми проблемами, а именно: Наша клиентка не знала что хочет и как хочет. Такое бывает, и для нас, это уже не проблема.
      img(src="http://loremflickr.com/1920/800" alt="123")
      p Главная задача была - просто сделать сайт. Но нам так понравился доктор, что мы попросили полную свободу действий и решили вложить в проект всю душу всей команды.
      p Фотографы, художники, дизайнеры, копирайтеры и креативщики - все потрудились над проектом и каждый внёс частичку себя.
   .rev__link
      p Итог вы можете посмотреть здесь: <a href="#">http://доктордиана.рф/</a>