extends jade/template
block includes
    include jade/mixins/**/*.jade
block title
    title 123
    - var back = '#fff';
    - var navColor = 'grey';
block content
    +headindex(navColor)
    +work
    +case
    +sites
    +company
    +revs
    +teams
    +section-form