extends jade/template
block includes
	include jade/mixins/**/*.jade
block title
	title 123
	- var back = '#fff';
	- var navColor = 'green';
block content
	header.head.head-second.bg-cover
		.head__topline
			.container-flex
				+logo-toplinedark
				+rightheaddark
		+navmain(navColor)
		+fixednav(navColor)
		+mobile-menu
	+breadcrumbs
	.content__wrap
		.content__left
			.aside__wrapper
				.aside__wrap
					+aside(navColor)
					.aside__bottom
						p Вы можете получить анализ своего сайта совершенно бесплатно!
						a(data-theme='Вопрос' data-modal='.modal_ask' href="#").modal-open.button.button-red.button-head Получить бесплатно
		.content__right
			h1.content__title.content__title_dark Партнеры
			.container-flex.container-work
				.map
					.map__wrapper
						<iframe src="https://yandex.ru/map-widget/v1/-/CVgYMXJH" frameborder="0"></iframe>
					.map__lists
						.map__head
							.map__table
								p.map__th Город
								p.map__th Представитель
								p.map__th Контакты
						.map__content
							.map__item
								.map__visible
									.map__table
										p.map__td 123
										p.map__td 123
										p.map__td 123
								.map__hidden
									.map__table
										p.map__td 123
										p.map__td 123
										p.map__td 123
							.map__item
								.map__visible
									.map__table
										p.map__td 123
										p.map__td 123
										p.map__td 123
								.map__hidden
									.map__table
										p.map__td 123
										p.map__td 123
										p.map__td 123
							.map__item
								.map__visible
									.map__table
										p.map__td 123
										p.map__td 123
										p.map__td 123
								.map__hidden
									.map__table
										p.map__td 123
										p.map__td 123
										p.map__td 123
