extends jade/template
block includes
    include jade/mixins/**/*.jade
block title
    title 123
    - var back = '#4b5c50';
    - var navColor = 'green';
block content
    header.head.head-second.bg-cover
        .head__topline
            .container-flex
                +logo-topline
                +righthead
        +navmain(navColor)
        +fixednav(navColor)
        +mobile-menu
    +breadcrumbs