extends jade/template
block includes
	include jade/mixins/**/*.jade
block title
	title 123
	- var back = '#fff';
	- var navColor = 'red';
block content
	header.head.head-second.bg-cover
		.head__topline
			.container-flex
				+logo-topline
				+righthead
		+navmain(navColor)
		+fixednav(navColor)
		+mobile-menu
	+breadcrumbs
	.content__wrap
		.content__left
			.aside__wrapper
				.aside__wrap
					+aside(navColor)
					.aside__bottom
						p Вы можете получить анализ своего сайта совершенно бесплатно!
						a(data-theme='Вопрос' data-modal='.modal_ask' href="#").modal-open.button.button-red.button-head Получить бесплатно
		.content__right
			h1.content__title.content__title_dark Команда
			.container-flex.container-work
				+team_page('Алена Брежнева','SEO, ведение проектов')
				+team_page('Степан Кузовов','Разработка front, back-end')
				+team_page('Евгений Марков','Дизайн, маркетинг')
				+team_page('Илья Федулов','Фото, видео сопровождение')



mixin team_page(name, positions)
	.teams
		.teams__left
			.teams__img
				img(src="http://loremflickr.com/270/270" alt=name)
		.teams__right
			h3.teams__title=name
			p.teams__position=positions
			p С другой стороны рамки и место обучения кадров в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Товарищи! рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.



