extends jade/template
block includes
	include jade/mixins/**/*.jade
block title
	title 123
	- var back = '#fff';
	- var navColor = 'green';
block content
	header.head.head-second.bg-cover
		.head__topline
			.container-flex
				+logo-topline
				+righthead
		+navmain(navColor)
		+fixednav(navColor)
		+mobile-menu
	+breadcrumbs
	.content__wrap
		.content__left
			.aside__wrapper
				.aside__wrap
					+aside(navColor)
					.aside__bottom
						p Вы можете получить анализ своего сайта совершенно бесплатно!
						a(data-theme='Вопрос' data-modal='.modal_ask' href="#").modal-open.button.button-red.button-head Получить бесплатно
		.content__right
			h1.content__title.content__title_dark Отзывы клиентов
			.container-flex.container-work
				+review
				+review
				+review

mixin review()
	.review
		.review__text
			p “Я вообще не люблю писать отзывы , так как считаю что все должны хорошо выполнять свою работу.
			p Но тут не могла удержаться , меня аж тянуло рассказать всем как я довольна работой этой команды!
			p Надо сразу сказать что я, отвратительный заказчик, совершенно не понимала, что хочу. Сделайте что - нибудь , "ой фу, ну я же не этого хотела",  -  это именно обо мне. Думаю многие согласятся, что когда мы платим деньги, мы хотим получить что-то такое, что левая пятка захотела. Совершенно не осознавая, будет ли оно полезным, поможет ли в развитии. Поэтому и мое задание прозвучало им примерно так: "хочу сайт, чтоб было красиво, и это было мое лицо".
			p Я была приятно удивлена, точнее поражена, такому профессионализму, ведь я сама не понимала, что хочу. А им было все понятно и мой характер, и мой подход к работе! Раскрыли на 100%, сама на себя посмотрела с другой стороны.
			p Не знаю как работают остальные, но точно могу сказать с этими ребятами работать очень легко, и комфортно . Они на отлично знают свою работу, и при этом пытаются воплотить именно ваши пожелания. При этом так все четко корректируют, и объясняют, как лучше, чтоб это все работало и было удобным. Задают наводящие вопросы, готовят несколько вариантов цветового решения, подбирают имя в сети характеризующее именно вас и ваше дело.
			p Они создают для вас целую жизнь в сети. По ходу нашей совместной работы, сразу выявилось несколько возможностей для дальнейшего продвижения. Одним словом профессионалы, что тут ещё скажешь.
			p Ребят спасибо вам, так держать! Все бы так работали!!! Рада что мне повезло сотрудничать с вами!”
		.review__img
			img(src="http://loremflickr.com/70/70")
		.review__footer
			h3 Заказчик:
			p.review__name Доктор Диана
			p.review__prof стоматолог-терапевт
			h3 Работа:
			p.review__link doctor-diana.ru
			a(href='#').review__href Отзыв в социальной сети

